a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

footer {
  margin: 0px 0 0 0;
  width: 100%;
  padding: 10px 0;
  color: white;
  background-color: #020024;
}

.social {
  font-size: 26px;
  width: 180px;
  height: 30px;
  margin: 0 auto;
}
