.titlePage{
    width: 80vw;
    min-height: 75.2vh;
    margin: 30px auto 0;
}
.flex{
    display: flex;
}
.titleLabel{
    font-size: 18px;
    margin: 0 0 20px 0;
}
.titleDescription{
    width: 40vw;
}
.img{
    width: 300px;
    height: 450px;
}
.imgDesc{
    justify-content: space-around;
    display: flex;
}
.ratingBlock{
    display: flex;
    width: 40vw;
    margin: 20px auto 0;
    justify-content: space-around;
}
.watchBlock{
    margin: 20px auto 0;
    display: flex;
    width: 60vw;
    justify-content: space-around;
}
.smallInfo{
    margin: 20px 0 0 0;
    width: 40vw;
    justify-content: space-around;
    display: flex;
}
.alignCentre{
    text-align: center;
}
.personsBlock{
    margin: 30px 0 0 0;
    width: 80vw;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  } 

  @media screen and (width < 675px) {
    .imgDesc{
        display: block;
        .titleLabel{
            margin: 10px auto 20px;
        }
        .img{
            display: block;
            margin: 0 auto;
            width: 250px;
            height: 350px;
        }
        .titleDescription{
            width: 100%;
        }
    }
    .ratingBlock{
        width: unset;
    }
    .watchBlock{
        width: unset;
    }
    .smallInfo{
        flex-wrap: wrap;
        width: 70vw;
    }
    
  }