.App{
  font-family: 'Montserrat', sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(210,208,204,1) 37%, rgba(113,130,134,1) 100%);
}
main{
  min-height: 75vh;
}