.filter {
  padding: 15px;
  width: 100vw;
  background-color: #e6f4ff;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;

  input.filter_button[type="submit"] {
    align-self: center;
    width: 160px;
    height: 35px;
    border-radius: 10px;
    color: black;
    background-color: #ffffff;
    font-weight: 700;
    padding: 5px;
  }

  @media screen and (width > 480px) {
    width: 480px;
  }
}
// @media screen and (width < 675px) {
//   .filter {
//     display: block;
//     flex-wrap: wrap;
//     height: 295px;
//     align-items: center;
//     width: 220px;
//     box-sizing: border-box;
//     margin: 0 auto 20px;
//     box-sizing: border-box;
//     padding: 10px;
//     .FilterBtn {
//       margin: 10px 0 0 0;
//     }
//   }
// }
